<!DOCTYPE html>
<html>
<head>
  <title>Quiz Second</title>
  <link rel="stylesheet" href="styles/registration.css">
</head>
<body>
  <div class="container">
  <div class="form-container">
    <h1>Добро пожаловать на Quiz Second!<br>Давай скорее начнём!</h1>
    <form method="post">
	  <h2>Введите логин:</h2>
	  <input type="text" required>
	  <h2>Введите адрес электронной почты:</h2>
	  <input type="email" required>
	  <h2>Придумайте пароль:</h2>
	  <input type="password" required>
	  <h2>Введите название организации, если имеется:</h2>
	  <input type="org_name">
	  <div class="buttons">
		<button onclick="window.location.href='https://www.youtube.com/watch?v=dQw4w9WgXcQ';">Назад</button>
		<button type="submit">Поехали!</button>
      </div>
	  <br><br><br>
    </form>
  </div>
  </div>
</body>
</html>
